.sidebarWrapper {
  background-color: #0033;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  width: 100%;

  a {
    padding: var(--spacing-small) 0;
    border: 1px solid white;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ccc;
    font-weight: 600;
    background-color: #00000091;
  }
}

.showSidebar {
  display: inherit;
}

.closeSidebar {
  display: none;
}
