.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color);
  background-image: url("/images/tentativa.jpeg");
  height: 80vh;

  .description {
    font-size: 22px;
    color: white;
    width: 600px;
    max-width: fit-content;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: var(--spacing-medium);
  }

  .button {
    padding: var(--spacing-tiny) var(--spacing-small);
    background-color: transparent;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--red);

    &:hover {
      color: white;
      background-color: var(--primary-color);
      border-radius: 10px;
      transition-duration: 0.7s;
    }
  }
}
